/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 5px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-left, .nav-right, .nav-center {
    display: flex;
    gap: 10px;
    padding: 5px;
  }
  
  .nav-box {
    background-color: #007bff;
    border-radius: 5px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block; /* Sørger for at lenkene fyller boksene */
  }
  
  .nav-link:hover {
    background-color: #0056b3;
  }
  
  footer {
    background-color: #ec2424;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  /* bildene på index */
  .image-grid .image-container {
    flex: 0 0 30%; 
    margin-bottom: 20px;
  }
  
  .image-grid .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .image-grid .image-container p {
    margin-top: 10px;
  }